<!DOCTYPE html>
<html>
<head>
  <title>Sunwatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'sunglasses' %>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>

</head>
<body>
	<div class="container">
	  <div class="page-header">
        <h1>Sunwatch <small>An application for those who love to watch the weather.</small></h1> 
      </div>
	</div>

<%= yield %>

</body>
</html>
